.logo-img-header{
    width: 100px;
    height: 100px;
}
.logo-img-footer{
    width: 90px;
    height: 90px;
}

.user-icon{
    width: 50px;
    height: 50px;
    
}

.banner-img{
    width: 100%;
    height: auto;
}
.ghost_img{
    padding-left: 250px;
    width: 800px;
    height: auto;
    align-self: flex-end;
    display: block;
    margin: 0;
}
.banner_logeado{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
}

.hero-section {
    position: relative;
    display: inline-block;
    width: 100%;
}

.titulo_logeado {
    position: absolute;
    top: 5%;
    left: 2%;
    font-family: var(--fuente-familia);
    color: var(--color-blanco);
    font-weight: 800;
    font-size: 125px;
    line-height: 1.2;
    text-shadow: 5px 8px 20px rgba(0, 0, 0, 0.5), 4px 4px 20px rgba(0, 0, 0, 0.4);
}

.separador{
    height: 250px;
    width: 100%;
    background-color: var(--color-secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

article {
    margin: 0;
    padding: 0;
}

section:first-of-type {
    margin: 0;
    padding: 0;
}

section:first-of-type > div {
    margin: 0;
    padding: 0;
}
.movies-container {
    position: relative;
    max-width: 1575px;
    margin: 80px auto 80px;
    padding: 0 71px;
    display: flex;
    align-items: center;
}
.resenias-container {
    position: relative;
    max-width: auto;
    margin: 30px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: column;
    height: 600px;
    overflow-y: auto;
}

.movies-slider {
    display: flex;
    gap: 102px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0 63px;
}
resenias-slider{
    display: flex;
    gap: 102px;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0 63px;
}
.resenias-card {
    width: 100%;
    height: auto;
    max-height: 300px;
    background-color: var(--color-review);
    border-radius: 14px;
    display: flex;
    padding: 15px;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
}
.resenias-card-recommended {
    width: 100%;
    height: auto;
    max-height: 300px;
    background-color: var(--color-review2);
    border-radius: 14px;
    display: flex;
    padding: 15px;
    gap: 20px;
    align-items: center;
        margin-bottom: 40px;
}

/* Poster */
.movie-poster-review {
    width: 80px;
    height: 110px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
}

.recommended-title {
    font-family: var(--fuente-familia);
    font-size: 18px;
    color: var(--color-parrafos);
    margin: 0;
    padding: 0;
}

/* Contenedor central */
.resenia-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

/* Usuario */
.resenia-info .nombre-usuario {
    font-size: 20px;
    font-family: var(--fuente-familia);
    color: var(--color-primario);
    margin: 0;
}

.resenia-info .user-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* Reseña */
.texto-resenia {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 10px;
    color: var(--color-parrafos);
    line-height: 1.3;
    font-family: var(--fuente-familia);
}

/* Botón "Dejar tu comentario" */
.btn-comentario {
    font-size: 16px;
    font-weight: 700;
    font-family: var(--fuente-familia);
    color: var(--color-primario);
    text-decoration: underline;
    cursor: pointer;
}

/* Lateral derecho (rating y likes) */
.resenia-lateral {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    padding-right: 10px;
}

.rating {
    font-size: 48px;
    font-weight: 900;
    color: #7c4d00;
    margin: 0;
    font-family: var(--fuente-familia);
}

/* Likes */
.like-icon {
    width: 25px;
    height: 25px;
}
.like-icon:hover {
    content: url('../recursos/icons/liked.png');
}

.resenia-lateral p {
    margin: 0;
    color: black;
    font-size: 16px;
    font-family: var(--fuente-familia);
}

.movie-title{
    font-family: var(--fuente-familia);
    margin-bottom: 12px;
    min-height: 40px;
}
.movie-rating{
    font-family: var(--fuente-familia);
    font-size: 20px;
    color: var(--color-secundario);
    width: fit-content;
    margin-left: auto;
}
.movies-slider::-webkit-scrollbar {
    display: none;
}

.movie-card {
    width: 270px;
    position: relative;
}
.movie-poster {
    width: 261px;
    height: 380px;
    border-radius: 14px;
    object-fit: cover;
    display: block;
}
.movie-poster-recent {
    width: 261px;
    height: 380px;
    object-fit: cover;
    display: block;
}


.movie-poster-review {
    width: 75px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin-left: 15px;
    margin-top: 15px;
}

.movie-info {
    margin-top: 16px;
}
.slider-btn {
    position: absolute;
    background-color: rgba(217, 217, 217, 0.82);
    border: none;
    width: 71px;
    height: 187px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 128px;
    color: #000;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s;
}

.slider-btn:hover {
    background-color: rgba(217, 217, 217, 1);
}

.slider-btn-left {
    left: 0;
}

.slider-btn-right {
    right: 0;
}

.slider-progress {
    max-width: 1440px;
    margin: 80px auto 0;
    padding: 0 20px;
}

.progress-bar {
    background-color: #d9d9d9;
    height: 6px;
    border-radius: 5px;
    width: 610px;
    margin: 0 auto;
}
.social-feed{
    width: 50%;
    height: auto;
}
